.f-row, .f-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.f-row { flex-direction: row; }
.f-col { flex-direction: column; }

.reverse.f-row { flex-direction: row-reverse; }
.reverse.f-col { flex-direction: column-reverse; }

.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }